AIRFLOW_UID=50000
AIRFLOW_JWT_SECRET=
METADB_USER=
METADB_PASSWORD=
METADB_DB=

AIRFLOW_CONN_FINTECH_API_RATES=http://:open_access_token@open.er-api.com

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${METADB_USER}:${METADB_PASSWORD}@postgres_infra:5432/${METADB_DB}
AIRFLOW_CONN_FINTECH_OLTP_DB=postgresql://${METADB_USER}:${METADB_PASSWORD}@fintech_oltp_db_service:5432/fintech_oltp

AIRFLOW_VAR_AURA_ETL_CONFIG='{"vault_dir": "/opt/airflow/data/aura_blockchain_vault", "target_currencies": ["USD", "EUR", "SGD", "NZD"], "anomaly_threshold_sgd": 10000.0}'